body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: #f3f6f4;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content {
    padding: 10px;
}

#employee-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.button {
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 30px;
}

.button:hover {
    background-color: #b4b4b4;
    box-shadow: 2px 2px 5px gray;
}

#total-cost-warning {
    color: red;
}

#employee-table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

#employee-table td,
#employee-table th {
    border: 1px solid black;
    padding: 10px;
}

#employee-table th {
    background-color: #acaaaa;
}

#employee-table tr:nth-child(even) {
    background-color: #dadada;
}

#employee-table td:last-child {
    display: flex;
    justify-content: center;
    border-width: 0 .5px .5px 0;
}

#total-cost {
    float: right;
}